# **(ADD THE NOTEBOOK NAME HERE)**

## Objectives

* Write your notebook objective here, for example, "Fetch data from Kaggle and save as raw data", or "engineer features for modelling"

## Inputs

* Write down which data or information you need to run the notebook 

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

In [1]:
#Check Python version
! python --version

Python 3.12.8

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [2]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\jerem\\OneDrive\\Documents\\CodeInstitute\\vscode-projects\\Capstone_Evaluating_Domestic_Electrification_Measures\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [ ]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

Confirm the new current directory

In [ ]:
current_dir = os.getcwd()
current_dir

# Section 1

Section 1 content

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [39]:
data = []
for c in range(1,199):
    for a in range(1, 16):
        for r in range(1, 5):
            row = [2500+2500*a, r*50,c]
            data.append(row)
        row = [2500+2500*a,238,c]
        data.append(row)
df = pd.DataFrame(data, columns=['Annual mileage','Nominal Range (miles)', 'Ecar Index'])
df['average daily mileage'] = df['Annual mileage']/365
df['Range2'] = df[['Nominal Range (miles)', 'average daily mileage']].max(axis=1)
df.head(60)

,Annual mileage,Nominal Range (miles),Ecar Index,average daily mileage,Range2
0,5000,50,1,13.698630,50.000000
1,5000,100,1,13.698630,100.000000
2,5000,150,1,13.698630,150.000000
3,5000,200,1,13.698630,200.000000
4,5000,238,1,13.698630,238.000000
5,7500,50,1,20.547945,50.000000
6,7500,100,1,20.547945,100.000000
7,7500,150,1,20.547945,150.000000
8,7500,200,1,20.547945,200.000000
9,7500,238,1,20.547945,238.000000
10,10000,50,1,27.397260,50.000000
11,10000,100,1,27.397260,100.000000
12,10000,150,1,27.397260,150.000000
13,10000,200,1,27.397260,200.000000
14,10000,238,1,27.397260,238.000000
15,12500,50,1,34.246575,50.000000
16,12500,100,1,34.246575,100.000000
17,12500,150,1,34.246575,150.000000
18,12500,200,1,34.246575,200.000000
19,12500,238,1,34.246575,238.000000
20,15000,50,1,41.095890,50.000000
21,15000,100,1,41.095890,100.000000
22,15000,150,1,41.095890,150.000000
23,15000,200,1,41.095890,200.000000
24,15000,238,1,41.095890,238.000000
25,17500,50,1,47.945205,50.000000
26,17500,100,1,47.945205,100.000000
27,17500,150,1,47.945205,150.000000
28,17500,200,1,47.945205,200.000000
29,17500,238,1,47.945205,238.000000
30,20000,50,1,54.794521,54.794521
31,20000,100,1,54.794521,100.000000
32,20000,150,1,54.794521,150.000000
33,20000,200,1,54.794521,200.000000
34,20000,238,1,54.794521,238.000000
35,22500,50,1,61.643836,61.643836
36,22500,100,1,61.643836,100.000000
37,22500,150,1,61.643836,150.000000
38,22500,200,1,61.643836,200.000000
39,22500,238,1,61.643836,238.000000
40,25000,50,1,68.493151,68.493151
41,25000,100,1,68.493151,100.000000
42,25000,150,1,68.493151,150.000000
43,25000,200,1,68.493151,200.000000
44,25000,238,1,68.493151,238.000000
45,27500,50,1,75.342466,75.342466
46,27500,100,1,75.342466,100.000000
47,27500,150,1,75.342466,150.000000
48,27500,200,1,75.342466,200.000000
49,27500,238,1,75.342466,238.000000
50,30000,50,1,82.191781,82.191781
51,30000,100,1,82.191781,100.000000
52,30000,150,1,82.191781,150.000000
53,30000,200,1,82.191781,200.000000
54,30000,238,1,82.191781,238.000000
55,32500,50,1,89.041096,89.041096
56,32500,100,1,89.041096,100.000000
57,32500,150,1,89.041096,150.000000
58,32500,200,1,89.041096,200.000000
59,32500,238,1,89.041096,238.000000

---

# Section 2

Section 2 content

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [ ]:
import os
try:
  # create your folder here
  # os.makedirs(name='')
except Exception as e:
  print(e)